.containerTres{
    /* border: solid;
    border-radius: 2rem; */
    text-align: center;
    width: 35rem;
    margin-left: 27rem;
    display: flex;
    justify-content: space-between;

}
.imgWhat,
.imgFace,
.imgYou,
.imgTwit,
.imgGit{
    width: 40px;
    height: 40px;
}
/* .git{
    margin-left: 3rem;
}
.twiter{
    margin-left: 15rem;
}
.youtube{
    margin
} */